node_modules
out
server/dist
dist
release
.git
.gitignore
.env
docker/.env
docker/data
data
register/config.json
register/logs
register/sso
register/__pycache__
register/**/*.pyc
.vscode
.idea
.fleet
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.tmp-data
